.blog-page{
	margin:2% 15%;
}

.blog-title{
	font-size:25px;
	color: #4A494A;
	text-align: left;
}

.blog-date{
	text-align: left;
	color: #14AECC;
}

.blog-responsive-design-img{
	width:90;
}

.blog-content{
	text-align: left;
	font-size:1.1rem;
}

.blog-content-beginning:first-letter{
	font-size:30px;
	font-weight:bold;
	color:#14AECC;
}

form{
	position:static;
	width:98%;
	margin:2% auto;
}

.blog-comment-title{
	font-weight: bold;
}

.blog-comment{
	width:100%;
	height:10rem;
	text-align: top;
	font-size:1.05rem;
	resize: none;
}

.blog-rating-container{
	margin:2% 0;
}

.blog-rating-button{
	margin:0 1%;
	font-size:1rem;
}

.blog-comment-submit{
	display:block;
	margin:1vw 0;
}

.blog-comment-submit:hover{
	cursor:pointer;
}

.container{
	border: none;
}